:root {
    --color-primary: #00bfff;
    --color-secondary: #4682b4;
}

header {
    gap: 15px;
    display: flex;
    position: absolute;
    right: 10px;
    z-index: 100;
    top: 10px;
    margin-top: 15px;
    margin-right: 15px;
}

.header-link {
    background-color: #022432;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
}

main {
    min-width: 1024px;
    overflow: hidden;
}

.main-content {
    position: relative;
    display: flex;
}

.main-logo {
    position: absolute;
    z-index: 100;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}

.worker-container {
    background-color: #e6e6fa;
    width: 50%;
    padding: 100px 40px 80px 40px;
    text-align: center;
}

.client-container {
    background-color: #d8bfd8;
    width: 50%;
    padding: 100px 40px 80px 40px;
    text-align: center;
}

.mobile {
    width: 386px;
    display: block;
    margin: 0 auto;
}

.laptop {
    width: 549px;
    max-width: inherit;
    display: block;
    margin: 0 auto;
}

.sub-logo {
    width: fit-content;
    display: block;
    margin: 0 auto;
}

.title-logo {
    margin-top: 10px;
    display: block;
}

.main-text-area h2 {
    text-align: center;
    font-size: 18px;
}

.main-text-area h2 span {
    display: block;
}

.login-link {
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    width: 370px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    max-width: 100%;
}

.login-link:hover {
    box-shadow: 5px 5px 10px #808080;
}

.worker-login-link {
    background: var(--color-primary);
}

.client-login-link {
    background: var(--color-secondary);
}

.more-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}

.more-link:hover {
    text-decoration: none;
}

.worker-more-link {
    color: var(--color-primary);
}

.client-more-link {
    color: var(--color-secondary);
}

.main-text-area p {
    font-size: 14px;
    color: #000;
    margin-top: 24px;
}

p span {
    display: block;
}

.main-text-area {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-weight: bold;
    transform: translate(0, -120px);
}

.introduce {
    margin: 100px auto;
    width: 90%;
}

.section-headline {
    color: #426579;
    width: max-content;
    margin: 0 auto;
    display: block;
}

.section-headline::after {
    display: block;
    content: "";
    height: 10px;
    background-color: #b0c4de;
    border-radius: 10px;
}

.section-headline + .section-headline {
    margin-top: 20px;
}

.introduce h2 {
    font-size: 28px;
}

.company-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

.company-list {
    width: 200px;
    height: 112px;
    margin: 20px;
}

.company-logo {
    width: 100%;
}
